@media (max-width: 450px){
    h1{
        font-size: 1.5em;
    }

    a{
        font-size: .8em;
    }

    .icons{
        grid-template-columns: 1fr;
    }
    footer{ 
    position: fixed;
    bottom: 0;
    width: 100%;

    }
}