@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}



header{
    padding: 20px;
    background-color: black;
    color: white;
}

menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    border: none;
    padding:10px;
    margin-left: 5px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color: white;
}


[data-box]{
    height: 350px;
    background-color: lightgray;
    padding: 20px;
}

[data-box] h1{
    text-align: center;
    font-size: 2.5em;
}

[data-box="white"]{
    background: url('../../imagens/pexels-faruk-tokluoğlu-10063279.jpg') center center;
    background-size: cover;
    color: white;
    display: grid;
    place-items: center;
}

article{
    max-width: 900px;
    margin: 0 auto;
}