@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');


*{
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


body,html{
    height: 100%;
    background: black url('../../imagens/pexels-faruk-tokluoğlu-10063279.jpg') center center no-repeat fixed;
    background-size: cover;
    margin: 0;
}

header{
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
}

menu{
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main{
    margin: 0 auto;
    width: 90%;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 5px;
}

h1, h2, h3{
    color: rgb(184, 15, 235);
}

main h1{
    text-align: center;
}

main #titulo{
    height: 50px;
    padding: 0px;
}

article{
    padding: 10px;
}

p{
    color: white;
    text-align: justify;
    line-height: 1.5em;
    padding: 20px 0px;
}

button{
    border: none;
    background-color: rgb(184, 15, 235);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: black;
    font-weight: 400;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}
